body{
    background-color: #18181b;
    padding: 0%;
    margin: 0%;
}

.containerPesquisa{
    margin: 40px auto;
    max-width: 400px;
    background-color: initial;
}

.pesquisa{
    
    margin-top: 1.5vh;

    background-color: rgba(80, 80, 80, 0.329);

    border: 1px solid white;
    border-radius: 2vh;

    width: 50vh;
    height: 3vh;

    color: white;
    
    padding-left: 10px;


}

.barraLateral{
    width: 20vh;
    height: 100vh;
    display: flex;
    
    background-color: #252525;
}

.logo{
    margin-top: -96vh;
    max-width: 4vh;
    display: flex;
}